<nav id="aa_site_nav__container">
    <a href="/">Home</a>
    <a href="/results">Results</a>
    <a href="/rules">Rules</a>
    <a href="/faqs">FAQs</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
</nav>