{% extends "../../layouts/layout.html" %}

{% block head %}
<!--injectCSS-->
{% endblock %}

{% block title %}FAQs{% endblock %}

{% block content %}
<section id="faqs__container">
    <h1>{{name}}</h1>
    <ul>
        {%for item in data%}
        <li>{{item.id}}---{{item.name}}</li>
        {%endfor%}
    </ul>
</section>
{% endblock %}

{% block script %}
<!--injectJS-->
{% endblock %}